NEXT_PUBLIC_SUPABASE_URL=https://nhobnpicsagagyxddkxo.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5ob2JucGljc2FnYWd5eGRka3hvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE3MDgyNjIsImV4cCI6MjA4NzI4NDI2Mn0.mgHrLHe5SNDtftfJP4sShJmmoSnB4XvVwxky0oCJJ3c
NEXT_PUBLIC_APP_URL=
